.user-show-container {
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.user-show-subcontainer {
    width: 80%;
    height: 1000px;
    background-color: #1b1b1b;
}

.us-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-bottom-container {
    width: 300px;
    // height: 100%;
    display: flex;
    align-items: center;
    float: right;
    border-left: 1pt solid lightgrey;
    padding-left: 10px;
    justify-content: center;
    align-self: start;
    h1 {
        font-size: 14px;
    }
}

.us-top-left-container {
    margin-top: 30px;
    width: 900px;
    height: 600px;
    border: 2pt solid #1b1b1b;
    border-radius: 8px;
    background: #1b1b1b;
    color: ghostwhite;
    display: flex;
    flex-direction: column;
    h1 {
        text-align: center;
        margin-left: 15px;
    }
}

.imgbg-us {
    width: 400px;
    height: 400px;
    background: url("i-like-ur-taste-grey.png") center no-repeat;
    background-size: 350px;
}

.user-links-containter {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    h3 {
        height: 30px;
        width: 100px;
        background-color: ghostwhite;
        color: #1b1b1b;
        text-align: center;
        padding: 20px;
        border-radius: 8px;
        justify-content: center;
    }
}

ul.insights-ul-us {
    list-style: none;
    flex-direction: row;
    display: flex;
    color: grey;
    li {
        font-size: 11px;
        line-height: 1px;
        margin-left: 20px;
        text-align: right;
        // border-left: 1pt solid lightgrey ;
        height: 89%;
    }
}

.footer-links-us a {
    color: #1b1b1b;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.copyright-us {
    color: rgba(248, 248, 255, 0.521);
    font-size: 10px;
    display: flex;
    justify-content: center;
    line-height: 30px;
    color: #1b1b1b
}

.us-header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    .us-insights {
         float: right;
         display: flex;
         width: 100%;
         justify-content: flex-end;
         li {

         }
    }
}

// .recs-header {
//     width: 500px;
//     height: 300px;
//     background: center no-repeat url('i-like-ur-taste-grey.png');
//     background-size: 400px;
//     padding: 30px 70px 30px 20px;
//     background-color: #1b1b1b;
// }


