.home-container {
    width: 100%;
    height: 1200px;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.home-subcontainer {
    background-color: #3b1684;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-content-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


// source https://codepen.io/creatz/pen/pooBeev
@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

.home-greeting {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #1b1b1b;
    align-items: center;
    text-align: left;
    margin-top: 30px;
    // transform: translate(-50%, -50%);
    font-size:18px;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: ghostwhite;
    text-shadow: 4px 4px #ff1616, 12px 7px #1b1b1b;
    p {
        display: flex;
        // background:rgb(255, 238, 0);
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        border-radius: 20px;
        padding-bottom: 15px;
    }
}

img {
    border-radius: 8px;
    border: ghostwhite;
}

.header-left-container {
    h3 {
        color: ghostwhite;
        padding-left: 30px;
    }
}

.header-container-home {
    background-color: #3b1684;
    width: 100%;
    height: 500px;
    top: 60%;
    background: center no-repeat url('i-like-ur-taste.png');
    background-size: 600px;
}

.reviews-container-home {
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    width: 100%;
    float: left;
    color: #1b1b1b;
    font-size: 14px;
    font-weight: lighter;
    margin-left: 40px;
    height: 460px;
    border-radius: 8px;
    padding-top: 15px;
    border: 2pt solid ghostwhite;
    color: ghostwhite;
    padding-right: 35px;
}

.footer-git-links {
    padding: 0 0 0 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    li {
        padding-left: 15px;
        line-height: 1px;
    }
}

.reviews-container-home {
    display: flex;
    width: 100%;
    flex-direction: column;
    div {
    }
    ul div {
        list-style: none;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        li {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 15px;
        }
        p {
            padding-bottom: 35px;
            padding-left: 25px;
            font-size: 12px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            // text-align: center;
        }
    }
}